<!DOCTYPE html>
<html lang="kr">
<head>
    {>"head" title="Tree Wiki" /}
    <!-- Codemirror CSS -->
    <link href="/codemirror/lib/codemirror.css" rel="stylesheet">

</head>

<body>

    {>"navbar" /}

    <!-- Content -->
    <div class="container">
        <div class="page-header">
            <h1>타이틀!!</h1>
        </div>
        <p class="lead">
            여기 컨텐츠 보이기? (???)
        </p>
        <textarea id="content-editor">
            {content}
        </textarea>
        <div class="doc-meta">
            <p>블라블라...</p>
        </div>
    </div>
    <!-- Content -->

    {>"footer" /}

    {>"includejs" /}

    <!-- Codemirror JS -->
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/javascript/javascript.js"></script>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("content-editor"), {
            lineNumbers: true,
            mode: "text/html",
            matchBrackets: true
        });
    </script>
</body>
</html>
