<!DOCTYPE html>
<html>
<head>
    {>"head" title="Tree Wiki" /}
</head>

<body>

{>"navbar" /}

<!-- Content -->
<div class="container">

    <div>
        <h2>업로드한 파일 목록 </h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <td class="col-xs-2"></td>
                <td class="col-xs-6"></td>
            </tr>
            </thead>
            <tbody>
            {#fileList}
            <tr>
                <td>
                    <a href="{url}">{originalFileName}</a>
                </td>
                <td>
                    {format}, {size} ({updated})
                </td>
            </tr>
            {/fileList}
            </tbody>
        </table>
    </div>

    <div>
    <form action="/doc/{docId}/file" method="POST" enctype="multipart/form-data">

        <input type="file" name="uploadFile" >

        <input type="hidden" name="{_csrf.parameterName}" value="{_csrf.token}"/>
        <input class="btn btn-default" type="submit" value="UPLOAD">
    </form>
    </div>
    <div class="doc-meta">
        <p>블라블라...</p>
    </div>
</div>
<!-- Content -->

{>"footer" /}

{>"includejs" /}

<!-- Codemirror JS -->
<script src="/codemirror/lib/codemirror.js"></script>
<script src="/codemirror/mode/javascript/javascript.js"></script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("content-editor"), {
        lineNumbers: true,
        mode: "text/html",
        matchBrackets: true
    });
</script>
</body>
</html>
