<!DOCTYPE html>
<html>
<head>
    {>"head" title="Tree Wiki" /}
</head>

<body>

{>"navbar" /}

<!-- Content -->
<div class="container">
    <form action="/doc/{docId}/file" method="POST" enctype="multipart/form-data">

        <input type="file" name="uploadFile" >

        <input type="hidden" name="{_csrf.parameterName}" value="{_csrf.token}"/>
        <input class="btn btn-default" type="submit" value="UPLOAD">
    </form>
    <div class="doc-meta">
        <p>블라블라...</p>
    </div>
</div>
<!-- Content -->

{>"footer" /}

{>"includejs" /}

<!-- Codemirror JS -->
<script src="/codemirror/lib/codemirror.js"></script>
<script src="/codemirror/mode/javascript/javascript.js"></script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("content-editor"), {
        lineNumbers: true,
        mode: "text/html",
        matchBrackets: true
    });
</script>
</body>
</html>
