<!DOCTYPE html>
<html>
<head>
    {>"head" title="Tree Wiki" /}
</head>

<body>

    {>"navbar" /}

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>HOME</h1>
        </div>
        <p class="lead">
            박찬욱의 개인 위키 입니다. <br >
            저는 사랑스런 아내와 귀여운 두 아이와 함께 살고 있습니다. <br >
            현재는 ITWsie Consulting에 재직 중이며, <br >
            바쁜 삶 중에서도 꿈을 잃지 않고 하루하루 실천해 나가는 것을 목표로 살아가고 있습니다. <br >
        </p>
        <p>날짜, 수정일시, 버전 등을 기록하자..</p>
    </div>
        <span id="signinButton">
              <span
                  class="g-signin"
                  data-callback="signinCallback"
                  data-clientid="338219137433-uekk1aidjt4m28cmjmu4g4p0ghruirk8.apps.googleusercontent.com"
                  data-cookiepolicy="single_host_origin"
                  data-requestvisibleactions="http://schemas.google.com/AddActivity"
                  data-scope="https://www.googleapis.com/auth/plus.login">
              </span>
            </span>
        <span id="signoutButton" style="display: none"><a href="#">logout</a></span>

    {>"footer" /}


    <!-- 이 비동기 자바스크립트를 </body> 태그 앞에 배치 -->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    {>"includejs" /}
</body>
</html>
