<!DOCTYPE html>
<html>
<head>
    {>"head" title="Tree Wiki" /}
</head>

<body>
    {> "navbar"/}

    <!-- Content -->
    <div class="container">
        <h2>
            POST
            <a class="btn btn-info btn-xs" href="/post/rss" role="button">RSS</a>
        </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td class="col-xs-2"></td>
                    <td class="col-xs-6"></td>
                </tr>
            </thead>
            <tbody>
                {#postList}
                <tr>
                    <td>
                        <small>{updated}</small>
                    </td>
                    <td>
                        <small>{updateUser}</small><br>
                        <a href="/p/{name}">{name}</a>
                    </td>
                </tr>
                {/postList}
            </tbody>
        </table>
        <div>
        </div>
    </div>
    <!-- Content -->

    {>"footer" /}

    {>"includejs" /}

</body>
</html>
