<!DOCTYPE html>
<html>
<head>
    {>"head" title="Tree Wiki" /}

    <script type="text/javascript">
        function publishToS3(docName) {
            $.ajax({
                url: "/publish/aws/s3/" + docName,
                success: function (data,textStatus,jqXHR) {
                    alert("result:" + textStatus);
                }
            });
        }
    </script>
</head>

<body>

{>"navbar" /}

<!-- Content -->
<div class="container">
    <div class="page-header">
        {#document}
        <h1>{name}</h1>
        생성: {created} (rev: {revision}) 갱신: {updated} &nbsp;
        {/document}
        <a href="/doc/edit/{name}" role="button">EDIT</a> &nbsp;
        <a href="/doc/{id}/file" role="button">FILE</a>&nbsp;
        <a role="button" onclick="publishToS3('{name}')">PUBLISH(S3)</a>
    </div>

    <div id="page-body">
        {_html|s}
    </div>

    <div id="page-meta">
        {#document}
        <p>
            {#tag}
            <a href="/tag/{value}">{value}</a>&nbsp;
            {/tag}
        </p>
        {/document}
    </div>

</div>
<!-- Content -->

{>"footer" /}

{>"includejs" /}
</body>
</html>