<!DOCTYPE html>
<html>
<head>
    {>"head" title="Tree Wiki" /}

</head>

<body>

{>"navbar" /}

<!-- Content -->
<div class="container">
    {#document}
    <article itemscope itemtype="http://schema.org/Article">
        <header>
            <div class="page-header">
                <h1>{name}</h1>
            </div>
            <div>
                <table>
                    <tr>
                        <td>생성: {created}</td>
                        <td>(rev.{revision})</td>
                        <td colspan="2">
                            <a class="btn btn-primary" href="/doc/edit/{name}" role="button">EDIT</a>
                            <a class="btn btn-primary" href="/doc/{id}/file" role="button">FILE</a>
                        </td>
                    </tr>
                    <tr>
                        <td>갱신: {updated}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </header>
        <section>
            <p>{content}</p>
        </section>
        <section>
            <p>
                {#tag}
                <a href="/tag/{value}">{value}</a>&nbsp;
                {/tag}
            </p>
        </section>
    </article>
    {/document}
    <div class="doc-meta">
        <p>블라블라...</p>
    </div>
</div>
<!-- Content -->

{>"footer" /}

{>"includejs" /}

<!-- Codemirror JS -->
<script src="/codemirror/lib/codemirror.js"></script>
<script src="/codemirror/javascript/javascript.js"></script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("content-editor"), {
        lineNumbers: true,
        mode: "text/html",
        matchBrackets: true
    });
</script>
</body>
</html>
